.cs-container
{
    padding: auto;
    margin-top: 5%;
    border: 2px solid #a6a6a6;
}

.cs-pagination
{
    margin: auto;
    margin-top: 5%;
    width: 50%;
}


.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #a6a6a6;
    border-color: #a6a6a6;
}


.page-item .page-link {
    z-index: 1;
    color: #737373;
    background-color: #ffffff;
    border-color: #a6a6a6;
}